"""
{{package_name}} - {{description}}
"""

from importlib.metadata import version

__version__ = version(__name__)


def main() -> None:
    """The {{package_name}} CLI entrypoint."""

    print(f"Hello from {{project_name}} v{__version__}!")
