"""
{{package_name}} - {{description}}
"""

from ._version import __version__


def main() -> None:
    """The {{package_name}} CLI entrypoint."""

    print(f"Hello from {{project_name}} v{__version__}!")
