# List the targets in the Justfile
_default:
    @just --list --list-prefix '👉  '

# Install project dependencies into a virtual environment
install:
    uv venv

# Build the Python package
build:
    uv build

# Run the {{package_name}} CLI
run:
    uv run {{package_name}}

# Run tests (include an optional test path to select tests to run.)
test test='':
    uv run pytest {% raw %}{{test}}{% endraw %}

# Lint the code
check:
    uv run ruff check
    uv run interrogate

# Format the code
fix:
    uv run ruff format
