# List the targets in the Justfile
default:
    just --list

# Install project dependencies into a virtual environment
install:
    uv venv

# Run the {{package_name}} CLI
run:
    uv run {{package_name}}

# Run tests
test test='':
    uv run pytest {% raw %}{{test}}{% endraw %}

# Lint the code
check:
    uv run ruff check
    uv run interrogate

# Format the code
fix:
    uv run ruff format