[project]
name = "{{project_slug}}"
description = "{{description}}"
readme = "README.md"
authors = [{ name = "Mark Smith", email = "judy@judy.co.uk" }]
requires-python = ">=3.13"
dependencies = []
dynamic = ["version"]

[project.scripts]
{{package_name}} = "{{package_name}}:main"

[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.targets.wheel]
packages = ["src/{{package_name}}"]

[dependency-groups]
dev = [
    "interrogate>=1.7.0",
    "pytest>=8.4.0",
    "ruff>=0.11.13",
    # The following two are required in dev for dynamic version deduction:
    "hatchling",
    "hatch-vcs",
]
docs = [
    "sphinx>=8.2.3",
    "myst-parser",
]

[tool.ruff.format]
docstring-code-format = true

[tool.interrogate]
exclude = ["docs",]
style = "google"
verbose = 1
fail-under = 100
