# {{project_name}}

{{description}}

## Developing {{project_name}}

A Justfile is included.
You can use it directly,
or use it as a reference for how to do the following:

* `just run` – run the code's CLI endpoint
* `just fix` – reformat your code with Ruff
* `just test` – run the tests
* `just check` – run Ruff and Interrogate to lint your code and docstrings
* `just` – List all targets in the Justfile